@model Cart

<div>
    @if (Model.Lines.Count() > 0)
    {
        <small class="navbar-text">
            <b>Your cart:</b>
            @Model.Lines.Sum(x => x.Quantity) item(s)
            @Model.ComputeTotalValue().ToString("c")
        </small>
    }
    @* Pass parameters using asp-route-NAME_OF_THE_PARAMETER *@
    @* Since this is not a POST action, asp-page = "/Cart" will call OnGet method in Cart.cshtml.cs *@
    <a class="btn btn-sm btn-secondary navbar-btn" asp-page="/Cart"
        asp-route-returnurl="@ViewContext.HttpContext.Request.PathAndQuery()">
        <i class="fa fa-shopping-cart"></i>
    </a>
</div>